<h1 mat-dialog-title class="text-center" style="font-weight: 500;">Agregar Clase</h1>
<div mat-dialog-content>
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <form [formGroup]="addForm">
    <div class="form-floating my-2">
        <input
            formControlName="clase"
            type="text"
            class="form-control"
            id="clase"
        >
        <label for="clase">Nombre de la clase</label>
    </div>
    <div class="form-floating my-2">
      <input
          formControlName="profesor"
          type="text"
          class="form-control"
          id="profesor"
      >
      <label for="profesor">Profesor que la dicta</label>
    </div>
    <div class="form-floating my-2 w-100 no-padding">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Curso al que pertenece</mat-label>
            <mat-select formControlName="cursoId">
              <mat-option *ngFor="let curso of cursoList" [value]="curso.id">
                {{curso.curso}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="form-floating my-2 w-100 no-padding">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Alumnos</mat-label>
        <mat-select formControlName="alumnos" multiple>
          <mat-option *ngFor="let alumno of alumnosList" [value]="alumno.id">{{alumno.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="justify-content-between" mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!addForm.valid" (click)="onSubmit()">Agregar</button>
</div>

