<h1 mat-dialog-title class="text-center" style="font-weight: 500;">Modificar Curso</h1>
<div mat-dialog-content>
  <h3 class="text-center" [hidden]="isSelected">{{bodyCopy}}</h3>
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <form [formGroup]="editForm">
    <div class="form-floating my-2">
      <input formControlName="curso" type="text" class="form-control" id="curso">
      <label for="curso">Nombre del curso</label>
    </div>

    <div class="form-floating my-2 w-100 no-padding">
      <mat-form-field class="w-100" appearance="outline">
          <mat-label>Clases</mat-label>
          <mat-select formControlName="clases" [(value)]="selectedClases" multiple>
              <mat-option [value]="clase.id" *ngFor="let clase of clasesList">{{clase.clase}}</mat-option>
          </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="justify-content-between" mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!isSelected" (click)="onSubmit()">Modificar</button>
</div>
