<h1 mat-dialog-title class="text-center" style="font-weight: 500;">Agregar Alumno</h1>
<div mat-dialog-content>
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <form [formGroup]="addForm">
    <div class="form-floating my-2">
        <input
            formControlName="firstName"
            type="text"
            class="form-control"
            id="firstName"
        >
        <label for="firstName">Primer Nombre</label>
    </div>
    <div class="form-floating my-2">
      <input
          formControlName="middleName"
          type="text"
          class="form-control"
          id="middleName"
      >
      <label for="middleName">Segundo Nombre</label>
    </div>
    <div class="form-floating my-2">
      <input
          formControlName="lastName"
          type="text"
          class="form-control"
          id="lastName"
      >
      <label for="lastName">Apellidos</label>
    </div>
    <div class="form-floating my-2 w-100 no-padding">
      <mat-form-field class="w-100" appearance="outline">
          <mat-label>Curso al que pertenece</mat-label>
          <mat-select formControlName="cursoId">
            <mat-option *ngFor="let curso of cursoList" [value]="curso.id">
              {{curso.curso}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </div>
  </form>
</div>
<div class="justify-content-between" mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!addForm.valid" (click)="onSubmit()">Agregar</button>
</div>
